:root {
  --primary-color: #171725;
  --primary-font-color: #ffffff;
  --primary-secondary: #0062ff;
  --font-color: #92929d;
  --font-darker-color: #696974;
  --font-lighter-color: #b5b5be;
  --bg-color: #ffffff;
  --shadow-color: #1717250a;
  --red-color: #fc5a5a;
  --grey-color: #e2e2ea;
}
